.button {
}

.disabled {
    color: green;
}

.secondary {
    font-weight: bold;
}

.default {
    font-size: 50px;
}

.red {
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
